node_modules/
.next/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
.env
.env.*
.DS_Store
.vscode/
.idea/
/.history/
*.local
/.cache
/.outputnode_modules
